*~
*.bak
build/
.code-workspace
*,cover
cover
.coverage
dist/
.DS_Store
htmlcov/
.hypothesis/
.idea/
MANIFEST
.noseids
public
*.pyc
__pycache__
*.pyo
.pytest_cache/
.Python
README
results/
results.html
.spyproject/
*.swp
tags
target/
.trunk/
venv
.vscode/
