*~
*.bak
build/
*,cover
cover
.coverage
dictionary
dist/
.DS_Store
htmlcov/
.hypothesis/
.idea/
MANIFEST
.noseids
public
*.pyc
__pycache__
*.pyo
.pytest_cache
.Python
README
results/
results.html
.spyproject/
*.swp
target/
venv
.vscode/
