anybadge              ~= 1.14
bandit                ~= 1.8
genbadge[tests]       ~= 1.1
hypothesis 						~= 6.122
pdoc                  ~= 15.0
pytest     						~= 7.4
pytest-cov 						~= 6.0
pytest-html           ~= 4.1
python-docx           ~= 1.1
ruff       						~= 0.8
sort-requirements     ~= 1.3
